# Ignore build output directory
/build
/export
/hw
/resources
/microblaze_*/

# Ignore object files and dependent files
.o
.d
.elf

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.bit
.pdi
.xsa
.vitisWorkspace.json
.hash-map.txt
.buildstatus
.ninja_log
compile_commands.json
.cache/

_ide/
.rigel_lopper/

*.xpfm
*.spfm